* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

/* --- Icn Redes ---*/
.rede {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  transition: 2s; }
  .rede:hover {
    transform: scale(1.5); }

.rede img {
  height: 50px;
  width: 50px;
  padding: 5px; }

/* ---LOGO --- */
.logo {
  width: 150px;
  height: 150px;
  border: solid 3px skyblue;
  transition: 2s; }
  .logo:hover {
    transform: rotateY(180deg); }

/*--- Media Qries ---*/
/* -- INDEX -- */
@media screen and (max-width: 1050px) {
  .imagenes {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 1050px) {
  .novedades {
    flex-direction: column;
    align-items: center; } }

/* iconos redes */
@media screen and (max-width: 1050px) {
  .rede {
    justify-content: center; } }

/* -- Servicios -- */
@media screen and (max-width: 820px) {
  .cargando {
    justify-content: center;
    align-items: center; } }

/* -- Unidades -- */
@media screen and (max-width: 855px) {
  .carga {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 990px) {
  .primero {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 990px) {
  .utilitarias {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 990px) {
  .unidades {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 990px) {
  .despacho {
    flex-direction: column;
    align-items: center; } }

/* -- Contacto -- */
@media screen and (max-width: 1050px) {
  .break {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 950px) {
  .footimagenes {
    flex-direction: column;
    align-items: center; } }

/* -- Cobertura -- */
@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
    align-items: center; } }

/* --- INDEX --- */
.carousel-inner {
  padding: 10px; }

.imagenes {
  display: flex;
  justify-content: center;
  margin-top: 20px; }
  .imagenes h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: skyblue;
    text-align: center; }
  .imagenes div {
    transition: 2s; }
    .imagenes div:hover {
      transform: scale(1.1); }
    .imagenes div img {
      width: 400px;
      height: 400px;
      border: 5px;
      margin: 5px;
      margin-left: 15px;
      border: solid 3px skyblue; }

.novedades {
  display: flex;
  justify-content: space-around; }
  .novedades img {
    width: 600px;
    height: 600px;
    margin: 15px; }

/* --- Servicios --- */
.titservicios {
  text-align: center; }
  .titservicios h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: skyblue; }

.cargando {
  display: flex;
  justify-content: center; }
  .cargando img {
    width: 700px;
    border: solid 3px skyblue;
    margin-top: 20px;
    margin-bottom: 20px; }

.rounded {
  border: solid 3px skyblue;
  margin: 5px; }

/* --- Unidades --- */
.carga {
  display: flex;
  justify-content: center; }
  .carga img {
    width: 800px;
    border: solid 3px skyblue;
    margin-top: 20px;
    margin-bottom: 20px; }

.primero {
  display: flex;
  justify-content: space-between;
  margin: 20px; }

.unidad img {
  width: 350px;
  height: 100%;
  border: solid 3px skyblue;
  margin: 5px; }

.unidades img {
  width: 350px;
  height: 100%;
  border: solid 3px skyblue;
  margin: 5px; }

.despacho {
  display: flex;
  justify-content: center; }
  .despacho img {
    width: 600px;
    height: 100%;
    border: solid 3px skyblue;
    margin: 5px; }

.utilitarias ul {
  text-align: center; }
  .utilitarias ul li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: skyblue; }

/* --- Contacto --- */
.break {
  display: flex;
  justify-content: center; }
  .break img {
    width: 800px;
    border: solid 3px skyblue;
    margin-top: 20px;
    margin-bottom: 20px; }

.redes {
  display: flex;
  justify-content: center; }
  .redes a img {
    width: 130px;
    height: 130px;
    padding: 30px;
    transition: 2s; }
    .redes a img:hover {
      transform: scale(1.8); }

/* --- Cobertura --- */
.zonas {
  justify-content: center; }
  .zonas img {
    width: 800px;
    height: 1350px;
    border: solid 3px skyblue;
    margin-top: 20px;
    margin-bottom: 20px; }

.muchacho img {
  width: 100%;
  height: 100%;
  border: solid 3px skyblue;
  margin: 5px; }

.muchacha img {
  width: 100%;
  height: 100%;
  border: solid 3px skyblue;
  margin: 5px; }

.llegamos p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  color: skyblue;
  margin-top: 50%; }

footer p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  margin-left: 20px; }

.texto p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: cadetblue;
  text-align: center; }

.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; }

h5 {
  text-align: center;
  font-size: 20px; }

/* --- Contacto --- */
.footimagenes {
  display: flex;
  justify-content: space-around; }

.yendo img {
  width: 350px;
  height: 100%;
  border: solid 3px skyblue;
  margin: 5px; }

.pedido img {
  width: 350px;
  height: 100%;
  border: solid 3px skyblue;
  margin: 5px; }

.titunidades {
  text-align: center; }
  .titunidades h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: skyblue; }

.nosotros {
  text-align: center; }
  .nosotros h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: skyblue; }

.titcobertura {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color: skyblue;
  text-align: center; }
