@import "../base/maps";

.titunidades{
    text-align: center;
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size:50px;
        color: map-get($h1 , color );
    }
}

.nosotros{
    text-align: center;
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size:50px;
        color: map-get($h1 , color );
    }
}

.titcobertura {
    font-family: 'Times New Roman', Times, serif;
    font-size:50px;
    color: map-get($h1 , color );
    text-align: center;
}

