*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* --- Icn Redes ---*/
.rede{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    transition: 2s;
    &:hover{
        transform: scale(1.5);
    }
}
.rede{
    img{
            height: 50px;
            width: 50px;
            padding: 5px;
        }
    }

    /* ---LOGO --- */
.logo{    width: 150px;
        height: 150px;
        border: solid 3px skyblue;
        transition: 2s;
        &:hover{
            transform: rotateY(180deg);
        }
    }